$primary-color: #00C853;

.starter-template {
  text-align: center;
  margin-top: 100px;
}

.span.label {
  font-size: 1em;
  background: $primary-color;
}

.sample {
  margin-top: 50px;
  h2 {
    margin-bottom: 25px;
  }
}

.summary {
  margin-top: 10px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fb-like {
  float: right;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: -400px;
}
